# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTest cache
.pytest_cache/

# Allure reports
allure-results/
allure-report/

# VSCode or JetBrains IDE configs
.vscode/
.idea/

# macOS metadata
.DS_Store

# Python virtual environments
env/
venv/

# Logs
*.log
